ul {
    list-style-type: none;
    overflow: hidden; 
    background-color: #dddddd;
}
li {
    float: right;
     border-right: 2px solid #bbb;
}
li {
    display: block;
    padding: 7px;
    background-color: #dddddd;
}
img {
    display: block;
    margin: auto;
}

